body{
background-image: url(./2ccbdad0-d0cc-4420-a076-8ada9a2f28db.jpg);
background-repeat: no-repeat;
background-size: cover;
margin-left: 50px;
margin-top: 50px;
margin-right: 70%;
}
div a button{
border-radius:10px;
border: none;

}


